%h1= @pic.title

= image_tag @pic.image.url
%p= @pic.description
%p= @pic.user.email

= link_to like_pic_path(@pic), method: :put, class: "btn btn-default" do
  %span.glyphicon.glyphicon-thumbs-up
  = @pic.get_upvotes.size

= link_to "Back", root_path
= link_to "Edit", edit_pic_path
= link_to "Delete", pic_path, method: :delete, data: {confirm: "Are you sure? "}
